# RabbitMQ
RABBITMQ_IMAGE=rabbitmq:4-management
RABBITMQ_CONTAINER_NAME=fota_rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DATA_DIR=./data
RABBITMQ_DEFAULT_USER=fota_user
RABBITMQ_DEFAULT_PASS=fota_password